@import "tailwindcss";
@plugin "daisyui";

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fontsapi.zeoseven.com/92/main/result.css");

body {
    font-family: "Smiley Sans Oblique";
    font-weight: normal;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.15s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.15s ease-in-out;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}