@import "tailwindcss";
@plugin "daisyui";

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fontsapi.zeoseven.com/92/main/result.css");

body {
    font-family: "Smiley Sans Oblique";
    font-weight: normal;
}